#foreach( $h in $headers) $h#if( $foreach.count != $headers.size()),#end#end$newline#foreach( $row in $flatDataArray) #foreach( $h in $headers)#if($row[$h])$row[$h]#else#end#if($foreach.count != $headers.size()),#end
#end$newline#end